@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Orbitron:wght@400;500;600&family=Poppins:wght@300;400;600;700;800&family=Roboto:wght@300&family=Wix+Madefor+Display&display=swap');
@import '../../../scss/mixin';
@import '../../../scss/animation';

*{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
}

.loginBox{
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.loginBox-formBox_form-saveSSCheckbox{
  padding: 0;
  margin: 0 10px;
}

.loginBox-formBox_form-saveSession{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
}

.loginBox-formBox{
  height: 65%;
  width: 20%;
  min-width: 340px;
  min-height: 450px;
  background: #6d5dcb;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .loginBox-formBox_form{
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .loginBox-formBox_form-username{
    width: 100%;
  }

  .loginBox-formBox_input{
    width: 65%;
    height: 30px;
    border-radius: 10px;
    background: hsla(0,0%,100%,.2);
    border: 1px solid hsla(0,0%,100%,.1);
    color : #ffffff;
    padding: 5px 10px;
  }
}

//!Glass effect
.glassBox{
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.inputForm{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: content-box;
}

.form-did-floating-label {
  position: absolute;
  top: 4px;
  left: 18%;
  pointer-events: none;
  color: rgba(255, 255, 255, 0.8);
  background: transparent;
  transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  font-size: 0.60rem;
  transform: translateY(50%);
}


.loginBox-formBox_heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;

  h1{
    font-size: 1.2rem;
    margin: 0;
    color: rgba(228,223,224,1)
  }
}

.loginBox-formBox_heading--logo{
  height: 60px;
  width: 60px;
}

.loginBox-formBox_form-submitButton{
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginBox-formBox_form-saveSession{
  align-self: flex-start;
  margin-left: 15%;
}

.loginBox-formBox_form-btn{
  height: 30px;
  width: 100%;
  @include glassButton;
  color : #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 0.7rem;

  &:hover{
    background: hsla(0,0%,100%,.3);
  }
}

.loginBox-formBox_heading{
  font-size: 0.8rem;
  height: 30%;
  font-weight: 400px !important;
  width: 100%;
  display: flex;
  justify-content: center;
}

@mixin labelFloating(){
  ~ .form-did-floating-label{
    top:-17px;
    font-size:0.55rem;
  }
}

.inputCeil{
  &::placeholder{
    color : #d6dae0;
  }

  &:focus{
    outline: 3px solid hsla(0,0%,100%,.05);
    @include labelFloating();
  }
}

.inputCeil:not(:placeholder-shown){
  @include labelFloating();
}


 .checkbox-wrapper-2 .ikxBAC {
   appearance: none;
   background-color: rgba(223, 225, 228, 0.23);
   border-radius: 72px;
   border-style: none;
   flex-shrink: 0;
   height: 20px;
   position: relative;
   width: 30px;
 }

.checkbox-wrapper-2 .ikxBAC::before {
  bottom: -6px;
  content: "";
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
}

.checkbox-wrapper-2 .ikxBAC,
.checkbox-wrapper-2 .ikxBAC::after {
  transition: all 100ms ease-out;
}

.checkbox-wrapper-2 .ikxBAC::after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 14px;
}

.checkbox-wrapper-2 input[type=checkbox] {
  cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:hover {
  background-color: rgba(223, 225, 228, 0.23);
  transition-duration: 0s;
}

.checkbox-wrapper-2 .ikxBAC:checked {
  background-color: #6e79d6;
}

.checkbox-wrapper-2 .ikxBAC:checked::after {
  background-color: #fff;
  left: 13px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible) {
  outline: 0;
}

.checkbox-wrapper-2 .ikxBAC:checked:hover {
  background-color: #535db3;
}

.inputForm--shake{
  animation: .3s shake linear;
}
