@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Orbitron:wght@400;500;600&family=Poppins:wght@300;400;600;700;800&family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300&family=Wix+Madefor+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo:400,700");
@import url("https://fonts.googleapis.com/css?family=Exo:400,700");
.waitingToStart {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: fixed;
  z-index: 999;
  color: #fff;
  top: 0;
  left: 0;
  animation: InFromBottom 1s ease;
  user-select: none;
}
.waitingToStart img {
  width: 400px;
  height: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes InFromBottom {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.withFadeInAnimation {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

.all {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock span {
  font-size: 3rem;
  font-weight: 600;
  font-family: "Orbitron", sans-serif;
}

.title {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Exo", sans-serif;
  margin-bottom: 0px;
}

.joiner {
  padding-top: 50px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  width: 30%;
  overflow-x: scroll;
}
.joiner img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.button {
  margin-top: 20px;
}
.button button {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: "Exo", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.button button:hover {
  background: #fff;
  color: #000;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Exo", sans-serif;
  overflow: hidden;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}

.area {
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/*# sourceMappingURL=style.module.css.map */
