$contestNavBGColor : #343A46;
$_button_color: #4230aa;
$font-family: "Poppins", sans-serif;
$navBar-name-color : #84a2ee;
$color_user_point : #c0c0c0;
$_button_color_on_hover : #6d5dcb;
$_progress_bar_color : rgba(109, 93, 203, 0.18);