@import 'variable';
@import 'animation';

.mainContainer {
  color : #ffffff;
  font-size: 0.6rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: animateBG 10s ease infinite;
  background: $_bg_color;
  background-size: 300% 300%;
  position: fixed;
  overflow-y: scroll;
}

@mixin animation-in-box($top,$left,$scale : false){
  position: fixed;
  top: $top;
  left: $left;
  z-index: -1;
  @if $scale == false {
    animation: rotate-infinity 15s ease-in infinite;
  }
  @else{
    animation: zoomInOut-infinity 15s ease-in infinite;
  }
}

.animIconPoly_st{
  @include animation-in-box(30%,20%)
}

.animIconPlus{
  @include animation-in-box(70%,80%);
}

.animIconRound{
  @include animation-in-box(45%,90%,true)
}

.anim_icon_poly,poly_icon_anim, anim_icon_plus, plus_icon_anim, anim_icon_round, round_icon_anim{

}