
$_rem : 20px;
$_bg_color : linear-gradient(
                -45deg,
                rgba(6,10,61,1) 0%,
                rgba(66,48,170,1) 25%,
                rgba(6,10,61,1) 51%,
                rgba(66,48,170,1) 100%
);

$_default_font : "Poppins", sans-serif;
